.App {
  text-align: center;
}

:root {
  --text-color: #36393b;
  --blue-color: #a5d8ff;
  --green-color: #afd0d6;
  /* button color */
  --grey-color: #bfacba;
}

.btn-primary {
  background-color: var(--grey-color) !important;
  border: var(--grey-color);
  margin: 10px;
}

.form-control {
  margin: 10px;
}

h1 {
  color: #36393b;
}

h2 {
  color: #36393b;
}

h3 {
  color: #36393b;
}
