.App {
  text-align: center;
}

// defining color variables
$text-color: #36393b;
$blue-color: #a5d8ff;
$green-color: #afd0d6;
$grey-color: #bfacba;

.title {
  color: $text-color;
}

.btn-primary {
  background-color: $grey-color !important;
  border: $grey-color;
}
