.App {
  text-align: center;
}

:root {
  --text-color: #36393b;
  --blue-color: #a5d8ff;
  --green-color: #afd0d6;
  /* button color */
  --grey-color: #bfacba;
}

.btn-primary {
  background-color: var(--grey-color) !important;
  border: var(--grey-color);
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 8px;
  border: 0.5px solid var(--grey-color) !important;
}

.btn-primary:hover {
  color: var(--grey-color);
  font-weight: bold;
  background-color: white !important;
  border: 0.5px solid var(--grey-color) !important;
}

.form-control {
  margin: 10px;
}

h1 {
  color: #36393b;
}

h2 {
  color: #36393b;
}

h3 {
  color: #36393b;
}

.heading {
  text-align: left;
  color: var(--text-color);
}
