.App {
  text-align: center;
  color: var(--text-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --text-color: #36393b;
  --blue-color: #a5d8ff;
  --green-color: #afd0d6;
  /* button color */
  --grey-color: #bfacba;
}

.btn-primary {
  background-color: var(--grey-color) !important;
  border: var(--grey-color);
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 8px;
  border: 0.5px solid var(--grey-color) !important;
}

.btn-primary:hover {
  color: var(--grey-color);
  font-weight: bold;
  background-color: white !important;
  border: 0.5px solid var(--grey-color) !important;
}

.form-control {
  margin: 10px;
}

.form-control-yelp {
  margin: 10px;
}

.form-control-addtrip {
  margin: 10px;
  max-width: 50rem;
}

h1 {
  color: #36393b;
  padding-top: 80px;
}

h2 {
  color: #36393b;
}

h3 {
  color: #36393b;
}

.heading {
  padding-top: 80px;
  text-align: left;
  color: var(--text-color);
}

.map-header-text {
  padding-top: 80px;
  text-align: left !important;
  height: 40px !important;
}

input[type="text"] {
  text-align: left !important;
  height: 40px !important;
}
