.home-grid-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.home-header {
  background-color: var(--blue-color);

  h2 {
    color: white;
  }
}

.home-login-text {
  text-decoration: underline;

  color: var(--blue-color);
  padding: 30px;
  // border: 1.5px solid var(--grey-color) !important;
  margin-bottom: 30px;
  border-radius: 7px;
}

.home-login-text:hover {
  color: var(--grey-color);
}

.login-view-register-text {
  color: var(--blue-color);
  margin-top: 30px;
  text-decoration: underline;
}

.login-view-register-text:hover {
  color: var(--grey-color);
}

.carousel-caption {
  background: rgba(90, 89, 89, 0.4);
  border-radius: 5px;
}

.carousel-text {
  color: white;
  letter-spacing: 2px;
}
// .carousel-control-next {
//   color: var(--grey-color);
// }

.home-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: -80px;
  position: relative;
  text-align: center;
}
.centered-text-grid {
  position: absolute;
  top: 50%;
  width: 28.74%;
  //transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(90, 89, 89, 0.4);
  color: white;
  letter-spacing: 1px;
  padding: 20px;
}
