.basic-info {
  /* background-color: #afd0d6; */
  margin-top: 100px;
  border: 3px solid var(--grey-color) !important;
  border-radius: 10px;
  padding: 10px;
  line-height: 10px;
  word-spacing: 5px;
}
