.chatList {
  background-color: #f1f1f1;
  height: 500px;
  padding: 5px;
  overflow-y: auto;
  padding-top: 20px;
}

.chatList p {
  margin-bottom: 0.5rem;
}

.chatList span {
  display: inline-block;
  max-width: 90%;
  border-radius: 5px;
}

.chatList .sender {
  text-align: right;
}
.chatList .receiver {
  text-align: left;
}

.chatList .sender span {
  padding: 3px 5px;
  background-color: var(--blue-color);
}

.chatList .receiver span {
  padding: 3px 5px;
  background-color: var(--green-color);
}

.bi {
  color: var(--text-color);
  cursor: pointer;
}
