.modalBtn {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.anon-yelp-input {
  margin-bottom: 20px;
}

.anon-yelp-yes {
  margin-right: 10px;
}

.anon-yelp-no {
  margin-left: 10px;
}

.anon-dollar-input {
  margin-right: 10px;
}

.anon-2dollar-input {
  margin-right: 10px;
}

.anon-3dollar-input {
  margin-right: 10px;
}

.anon-4dollar-input {
  margin-right: 10px;
}

.yelp-itinerary-popup {
  justify-content: auto;
  margin-right: 50px;
}

.table-responsive-sm {
  width: 1000px;
  margin-top: 0px;
}
/* 
.form-check {
  display: flex;
  flex-direction: row;
}

.form-check-input {
  display: inline-block;
} */
