.itinerary-list-wrapper {
  width: 272px;
  height: 500px;
  /* either this or white bg with purple/gr/bl border */
  background-color: var(--green-color);
  justify-content: auto;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.can-drop {
  background-color: var(--blue-color);
}
