.itinerary-list-wrapper {
  width: 272px;
  height: 575px;
  background-color: var(--blue-color);
  justify-content: auto;
  /* margin: 20px; */
  margin-top: 20px;
  border-radius: 10px;
}

.itinerary-list-card {
  width: 232px;
  height: 50px auto;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px;
  justify-content: auto;
  cursor: move;
  border: 2px solid var(--grey-color) !important;
  border-radius: 10px;
  /* box-shadow: 20px, 20px black; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.itinerary-card-activity {
  width: 116px;
  height: 40px;
  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px; */
  justify-content: auto;
}

.itinerary-card-location {
  width: 116px;
  height: 40px;
  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px; */
  justify-content: auto;
}

.itinerary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  column-gap: 3px;
  row-gap: 150px;
}
.itinerary-card-x {
  background-color: white;
  border: white;
  color: var(--grey-color);
  float: left;
}

.itinerary-card-x:hover {
  background-color: var(--grey-color);
  color: white;
}

.itinerary-col-date {
  padding-top: 10px;
}

.itinerary-yelp-redirect {
  color: var(--grey-color);
}

.itinerary-yelp-redirect:hover {
  color: var(--green-color);
  text-decoration: underline;
  cursor: pointer;
}
