.itinerary-list-wrapper {
  width: 272px;
  height: 500px;
  background-color: gainsboro;
  justify-content: auto;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.can-drop {
  background-color: pink;
}
