.NavBar {
  // border: 1px solid grey;
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: 6px 12px;
  }
  a {
    text-decoration: none;

    color: var(--text-color);
  }
  a:hover {
    color: white;
  }
  background-color: var(--blue-color);
}
