.NavBar {
  border: 2px solid var(--grey-color);

  ul {
    list-style-type: none;
    padding-top: 8px;
  }
  li {
    display: inline-block;
    padding: 6px 12px;
    font-size: 2ch;
  }
  a {
    text-decoration: none;

    color: var(--text-color);
  }
  a:hover {
    color: white;
  }
  background-color: var(--blue-color);
  position: fixed;
  width: 100%;
  z-index: 1100;
}
