.verticalNav {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 20%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  overflow: auto;
  text-align: left;
}

.vertNavLi {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.vertNavLi:hover:not(.active) {
  background-color: var(--blue-color);
  color: var(--text-color);
  cursor: pointer;
}

.tripById {
  float: right;
  padding-left: 40px;
  padding-right: 40px;
  width: 80%;
  margin-left: 20%;
}
