.container {
  width: 1000px;
  border-radius: 25px;
  padding: 20px;
  /* margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 20px; */
}

.row {
  padding: 10px;
  text-align: start;
}

.col {
  padding: 10px;
  text-align: center;
}
.form-check-label {
  font-size: larger;
}

.yelp-form-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.yelp-form-title {
  text-align: start;
  padding-top: 70px;
}
